@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-stretch: 75% 100%;
}

header{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background-color: #a69997;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background-color: #f2f1eb;
}
header{
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    text-align: center;
}
footer{
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    text-align: center;
}

.titulo{
    color: #3286b5;
}

.estilo-botones {
    background-color: #f8d082; /* Color de fondo */
    border-radius: 8px; /* Bordes redondeados */
    margin-right: 2px; /* Espacio a la derecha */
    padding: 10px 15px; /* Espaciado interno (top/bottom y left/right) */
    border: none; /* Sin borde */
    color: #333; /* Color del texto */
    font-size: 16px; /* Tamaño de la fuente */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    transition: background-color 0.3s ease, transform 0.2s; /* Transiciones suaves */
}

.estilo-botones:hover {
    background-color: #f8b74a; /* Color al pasar el mouse */
    transform: scale(1.05); /* Efecto de escala al pasar el mouse */
}

.estilo-botones:active {
    transform: scale(0.95); /* Efecto de reducción al hacer clic */
}

